:root{
    --raleway:'Raleway', sans-serif;
    --black: #000000;
    --light-blue: #09DCE3;
    --white:#FFFFFF;

}

/* .navbar-bar{
    background-color: transparent;
} */

html{
    font-family: var(--raleway);
}


#navbar{
    font-family: var(--raleway);
}

#titulo{
    font-weight: bold;
}

#quienes-somos{
    background-color: var(--black);
    font-family: var(--raleway);
    color: var(--white);
}

.icon-container{
    background-color: var(--light-blue);
}

#quienes-somos-titulo{
    text-transform: uppercase;

}

svg{
    width: 2.5em;
    height: 2.5em;
}

